:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0 
}

* {
  margin:0;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
    height: 1px; /* Altura da linha */
    background-color: #FDC602; /* Altera a cor da linha */
    border: none; /* Remove a borda padrão */
}

label {
  color: #9C9C9C;
}

/* Estilo da tabela */
table {
  width: 100%; 
  border-collapse: collapse; 
}

th, td {
  padding: 12px; 
  text-align: left; 
  border: none; 
  word-wrap: break-word;
}

th {
  color: #ffffff;
  font-weight: bold;
}

th:nth-child(1), td:nth-child(1) { width: 30%; } 
th:nth-child(2), td:nth-child(2) { width: 40%; } 
th:nth-child(3), td:nth-child(3) { width: 20%; }
th:nth-child(4), td:nth-child(4) { width: 5%; } 
th:nth-child(5), td:nth-child(5) { width: 5%; } 

@media (max-height: 600px) {
  html {
    color-scheme: dark;
    border-image: linear-gradient(to top, #000000, #111111, #3e3e3e, #5e5e5e)
  }

  th, td {
    width: 100%;
    box-sizing: border-box; 
  }

  th {
      display: none; 
  }

  td {
      position: relative;
      padding-left: 50%;
  }

  td::before {
      content: attr(data-label);
      position: absolute; 
      left: 10px; 
      top: 12px; 
      font-weight: bold;
  }
}

.border-gradient {
  padding: 2vh;
  border: 0.5px;
  border-width: 1px;
  border-style: solid;
  border-color: #0a0a0a;
  border-image: linear-gradient(to top,#7C7C7C, #5e5e5e, #3e3e3e, #111111, #0f0f0f) 1;
}

.border-normal {
  padding: 2vh;
  border: 0.5px;
  border-width: 1px;
  border-style: solid;
  border-color: #0a0a0a;
  border-image: linear-gradient(to top, #111111, #0f0f0f) 1;
}

/* .main-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 14% 86%; 
} */

.saldo-cartao-colum {
  display: grid;
  grid-template-rows: 17% 80%; 
  gap: 3%;
}

.dashboard {
  height: 86vh;
  overflow: auto;
  z-index: 999;
}

hr {
  margin-top: 5px;
  margin-bottom: 8px;
}