.statement {
  display: grid;
  grid-template-columns: 19% 51% 28%;
  grid-template-rows: 100%;
  gap: 1%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
